body{
  margin: 2px;
  padding: 2px;
  background-color: black;
  backdrop-filter: blur(5px);
}
.navigation{
  display:flex;
  padding: 2px;
  margin: 2px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #600396;
}
nav{
  ul{
    list-style: none;
    padding: 0;
    display: flex;
  }
  li{
    margin: 0 1rem;
  }
  a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Edu NSW ACT Cursive", cursive;
  }
}
a:hover{
  background-color: #600396;
  transform: translateX(2px);
  border-radius: 5px;
}
.logo{
  font-size: 1.2rem;
  line-height: 1.5;
  color: #600396;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}
.hero-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url();
}
h1{
  font-family: "Edu NSW ACT Cursive", cursive;
  color: #600396;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
  padding: 0;
}