body{
  margin: auto;
  padding: 0px;
  backdrop-filter: blur(5px);
}
.navigation{
  display:flex;
  padding: 2px;
  margin: 2px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #600396;
}
.hero{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
nav{
  ul{
    list-style: none;
    padding: 0;
    display: flex;
  }
  li{
    margin: 0 1rem;
  }
  a{
    text-decoration: none;
    color: black;
    font-family: "Edu NSW ACT Cursive", cursive;
  }
}
a:hover{
  background-color: #600396;
  
  border-radius: 5px;
}
.logo{
  font-size: 1.2rem;
  line-height: 1.5;
  color: #600396;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}
.hero-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 2px solid black;
   width: 100%;
   height: 50rem;
   background-image: url();
}
.hero-content-2{
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 4px;
    height: 40rem;
    width: 100%;

}
.project{
  color: #600396;
  text-align: left;
  
}
.project1{
    height: 300px;
    border-radius: 5px;
    width: 300px;
    border: 2px solid #600396;
    text-align: center;
    align-items: center;
}
.project-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1{
  font-family: "Edu NSW ACT Cursive", cursive;
  color: #600396;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
  padding: 0;
}
p{
  color: black;
  text-align: center;
  font-size: 400;
  font-display: fallback;
}